@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
:root{
    --Grey-color:#a6a6a6;
    --black-color:#000;
    --white-color:#fff;
    --light_grey-color: #d3cec9;
    --light_black:rgb(22, 21, 21);
}

    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
 
    a {
        text-decoration: none !important;
    }

    body{
        background-color: #fff;
        color: #000; 
    }
    /* header section start  */

    .navbar{
        background-color: var(--Grey-color);
        padding: 10px !important;
    }
    .logo img{
        max-width: 170px;
        max-height: 170px;
    }
    
    .nav-link{
    font-size: 1rem !important;
    color: var(--white-color) !important;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    }
    .nav-link:before {
        content: "";
        position: absolute;
        top: 100%;
        bottom: 50%;
        width: 0%;
        height: 4%;
        background-color: var(--white-color);
        transition: all 0.3s linear;
    
    }
    .nav-link:hover:before {
        width: 89%;
    }
     /* header section end */

     /* carousel section start */
     
     .carousel_overlay:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:#000;
        opacity: 0.2;
      }
      .dote{
          color: #fff !important;
      }
    .carousel-inner img{
        height: 670px;
    }
    .carousel-caption h5{
        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    .carousel-caption span{
        color: var(--Grey-color);
    }

   #more{
       display: none;
   }
   #moree{
       display: none;
   }
    .more_btn{
        color: var(--white-color);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: 19%;
        background: transparent;
        outline: none;
        border: none;
    }
    .more_btn:hover{
        color:var(--Grey-color) !important;
    }

    .about_section{
        background-color: var(--white-color);
        padding: 50px;
    }
    .about_heading h2{
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: var(--black-color);
    }
    .about_btn{
        color:#000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: 19%;
        background: transparent;
        outline: none;
        border: none;
    }
    .about_heading p{
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: var(--black-color);
    }

    .about_heading  a{
        color: var(--black-color) !important;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .about_section img{
        width: 90%;
    }
    .about_heading{
        padding-top: 50px;
    }

    .service_section{
        background-image: url("../img/ser.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20%;
        position: relative;
    }

    .service_details{
        background-color: var(--light_grey-color);
        width: 50%;
        height: 70%;
        position: absolute;
        top: 15%;
        left: 25%;
        opacity: 0.9;
        border: 20px solid var(--white-color) !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_details h5{
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 15px;
        color: var(--black-color);
    }

    .service_details p{
        font-size: 1.3rem !important;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--black-color);
    }

    .product_section{
        padding: 50px;
    }

    .product_section h1{
        font-size: 1.3rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--black-color);
    }
    .product_section p{
        font-size: 1.1rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--black-color);
        width: 70%;
    }

   .project_carousel img{
        height: 281px;
        width: 60% !important;
    }

   /* .fa-arrow-right{
       color: var(--black-color);
       font-size: 30px;
    } */
    .testimonial-section{
        background-image: url(../img/testimonial.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%;
        position: relative;
   }
    .testimonial_carousal{
        background-color: var(--light_grey-color);
        width: 1000px !important;
        opacity: 0.9;
        border: 20px solid var(--white-color) !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin: auto;
    }
    .testimonial_contact{
        width: 50% !important;
   }
   .testimonial_contact h5{
       font-size: 1.2rem;
       font-family: 'Open Sans', sans-serif; 
       font-weight: 400;
       color: var(--black-color);
   }
    .testimonial_contact p{
        font-size: 0.9rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--black-color);
    }
    .author_name{
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 300;
        font-style: italic;
    }

    .control_icon{
        color: var(--black-color);
        font-size: 25px;
    }
   .clients_section{
       padding: 45px;
   }
   .clients_section h2{
    font-size: 1.9rem;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
    color: var(--black-color);
    margin-left: 2%;
    
   }
   .clients_carosel img{
    height: 179px;
    width: 900px !important;
    margin-left: 10%;
    }
    .prev_btn1{
        position: absolute !important;
        left: -6% !important;
    }
    .next_btn1{
        position: absolute !important;
        right: -6% !important;
    }
    footer{
        background-color: var(--Grey-color);
        padding: 40px;
    }
    .retail{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80% !important;
        margin: auto;
        margin-top: 6% !important;
    }
    .retail h3{
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--light_black);
        
    }

    .line{
        width: 2px;
        height: 30px;
        background-color: var(--light_black);

    }
    .s_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4% !important;
        
    }
    .circle{
        margin-left: 15px;
        border: 1px solid #000;
        padding: 8px;
        border-radius: 50%;
        width: 43px;
        height: 42px;
        text-align: center;
        
    }
    .s_icon  a {
        color: inherit;
    }
    .circle:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 11px rgb(8 8 8 / 35%);
    }
    .s_icon  a :hover{
        color: #fff;
    }
    .circle:hover{
        background-color: #000;
        color: #fff;
        transition: all .2s ease-in-out;
    }
    .phone{
        color: inherit;
        text-align: center;
        margin-top: 3% !important;
    }
    .email{
        color: inherit;
        text-align: center;
    }
    .phone:hover{
        color:var(--black-color) !important;
    }
    .email:hover{
        color:var(--black-color) !important;
    }

    .footer_nav{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer_nav .nav-link{
        margin-left: 40px;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color: var(--light_black) !important;
    } 
    .developed{
        text-align: center;
    }
    .developed a{
        font-size: 1.1rem;
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        color:#000;
        text-align: center;

    }
    .developed a:hover{
        color: #000;
    }

    #topBtn {
        display:none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: var(--black-color);
        color: #fff;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        width: 65px;
        height: 63px;
        opacity: 0.9;
        transition: all .4s;
    }
    #topBtn:hover{
        background-color: #fff;
        color: black;
    }
    /* media query */

    @media only screen and (max-width:1150px) {
        .clients_carosel img {
            height: 164px;
            width: 775px !important;
            margin-left: 10%;
        }

    }

   

    @media only screen and (max-width: 1024px){
        .about_btn {
        
            width: 40%;
            text-align: left;
        }
    }
    @media only screen and (max-width: 932px){
        .about_btn {
        width: 40%;
        text-align: left;
        }
        .project_carousel img {
            height: 225px;
            width: 70% !important;
        }

        .testimonial_carousal {
            width: 700px !important;
            height: 285px;
            top: 10%;
        }
    }

    @media screen and (max-width: 768px){
        
        .about_section img {
            width: 90%;
            margin-top: 27%;
            margin-left: 13%;
        }

        .testimonial_carousal {
            width: 600px !important;
            height: 231px;
            top: 10%;
        }

        .clients_carosel img {
            height: 136px;
            width: 526px !important;
            margin-left: 10%;
        }
    }

    @media only screen and (max-width:560px){
    
    .carousel-inner img {
            height: 350px;
        }

        .logo img {
            max-width: 100px;
            max-height: 100px;
        }
        .about_heading {
            padding-top: 15px;
        }
        .about_heading h2 {
            font-size: 1.6rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }
        .about_heading p {
            font-size: 1.3rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }

        .about_btn {
            width: 37% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .about_section img {
            width: 100%;
            margin-top: 10%;
            margin-left: 0;
        }

        .service_details {
            background-color: var(--light_grey-color);
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            opacity: 0.9;
            border: 8px solid var(--white-color) !important;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .service_details h5 {
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
        .service_details p {
            font-size: 1.2rem !important;
            margin-bottom: 0%;
        }

        .product_section h1 {
            font-size: 1.4rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }

        .product_section p {
            font-size: 1.1rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            width: 100%;
            text-align: center;
        }
        .project_carousel img{
            height: 200px;
            margin: auto;
            margin-top: 10%;
            width: 42% !important;
        }
        .testimonial_carousal {
            width: 90% !important;
            border: 7px solid var(--white-color) !important;
            margin: auto;
        }

        .testimonial-section {
            padding: 5%;
        }
        .testimonial_contact p {
            font-size: 0.9rem;
            font-weight: 400;
            margin-bottom: 2%;
            line-height: 1.3rem;
        }

        .clients_section h2 {
            font-size: 1.9rem;
            font-weight: 400;
            text-align: center;
        }

        .clients_carosel img {
            height: 55px !important;
            width: 285px !important;
            margin: auto;
        }

        .retail {
        
            flex-direction: column;
            width: 90% !important;
            margin: auto;
            margin-top: 6% !important;
        }
        .line {
            width: 100px;
            height: 2px;
            background-color: var(--light_black);
            margin: 3%;
        }

        .footer_nav {
            flex-direction: column !important;
            text-align: center;
        }
        #topBtn {
        bottom: 5px;
            right: 9px;
            padding: 9px;
            width: 60px;
            height: 58px;
            opacity: 0.7;
        }
    }

    @media only screen and (max-width:480px){
    
        .carousel-inner img {
            height: 350px;
        }
    
        .logo img {
            max-width: 100px;
            max-height: 100px;
        }
        .about_heading {
            padding-top: 15px;
        }
        .about_heading h2 {
            font-size: 1.6rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }
        .about_heading p {
            font-size: 1.3rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }
    
        .about_btn {
            width: 37% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    
        .about_section img {
            width: 100%;
            margin-top: 10%;
            margin-left: 0;
        }
    
        .service_details {
            background-color: var(--light_grey-color);
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            opacity: 0.9;
            border: 8px solid var(--white-color) !important;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .service_details h5 {
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
        .service_details p {
            font-size: 1.2rem !important;
            margin-bottom: 0%;
        }
    
        .product_section h1 {
            font-size: 1.4rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            text-align: center;
        }
    
        .product_section p {
            font-size: 1.1rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--black-color);
            width: 100%;
            text-align: center;
        }
        .project_carousel img{
            height: 200px;
            margin: auto;
            margin-top: 10%;
            width: 42% !important;
        }
    
        .testimonial_carousal {
            width: 90% !important;
            border: 7px solid var(--white-color) !important;
            margin: auto;
        }
    
        .testimonial-section {
            padding: 5%;
        }
        .testimonial_contact p {
            font-size: 0.9rem;
            font-weight: 400;
            margin-bottom: 2%;
            line-height: 1.3rem;
        }
    
        .clients_section h2 {
            font-size: 1.9rem;
            font-weight: 400;
            text-align: center;
        }
    
        .clients_carosel img {
            height: 55px !important;
            width: 285px !important;
            margin: auto;
        }
    
        .retail {
        
            flex-direction: column;
            width: 90% !important;
            margin: auto;
            margin-top: 6% !important;
        }
        .line {
            width: 100px;
            height: 2px;
            background-color: var(--light_black);
            margin: 3%;
        }
    
        .footer_nav {
            flex-direction: column !important;
            text-align: center;
        }
    }


    @media only screen and (max-width:375px){
    
        .carousel-inner img {
            height: 280px;
        }
        .about_heading p {
            font-size: 15px;
        }
        .about_btn {
            width: 75% !important;
        }
        .service_details h5 {
            font-size: 1rem;
        }
        .service_details p {
            font-size: 1rem !important;
            
        }

        .project_carousel img {
            height: 161px !important;
            margin: auto;
            margin-top: 13%;
            width: 46% !important;
        }

        .testimonial-section {
            padding: 5%;
        }

        .testimonial_contact p {
            font-size: 0.8rem;
            font-weight: 400;
            margin-bottom: 2%;
            line-height: 1rem;
        }
        .clients_carosel img {
            height: 43px !important;
            width: 199px !important;
        }

        .retail {
        width: 100% !important;
        }

    }



    @media only screen and (max-width:414px){

        .about_btn {
            width: 55% !important;
        }
        .testimonial_contact p {
            font-size: 0.8rem;
        }
        .clients_carosel img {
            height: 47px !important;
            width: 220px !important;
        }
    }
    @media only screen and (max-width:360px){

        .retail h3 {
            font-size: 1.2rem;
        }
        .clients_carosel img {
            height: 37px !important;
            width: 190px !important;
        }
        .clients_section h2 {
            font-size: 1.6rem;
        }
        .developed a {
            font-size: 0.7rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-align: center;
        }
        #topBtn {
        
            bottom: 5px;
            right: 9px;
            padding: 9px;
            width: 60px;
            height: 58px;
            opacity: 0.7;
        
        }
    }

    @media only screen and (max-width:986px){
        .nav_uderline{
            display: flex !important;
        }
        .nav-link:before {
            display: none;
        }
        .nav-link {
            font-size: 1.2rem !important;
        }
    }